
* {
    padding: 0;
    margin: 0;
}

nav {   
    background-color: rgba(200,200,200, 1);
    border-bottom: 1px solid rgba(0,90,0, 0.5);
    border-top: 1px solid rgba(0,90,0, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer ul {
    font-family:'Raleway', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: 200;
    text-align: right;
    vertical-align: bottom;

}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family:  sans-serif;
    font-weight: 200;
    font-size: 2em;
    text-align: left;
    text-shadow: 1px 1px 2px 5px black;
}
h2 {
    font-size: 4.5em;
    font-family:'Reenie Beanie', 'Arial', 'Sans-Serif';
    letter-spacing: -0.12em;
}
h3 {
    color: black;
    text-align: center;
    font-family: "Reenie Beanie", sans-serif;
    font-weight: 400;
    font-size: 2em;
    display: block;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    position: relative;
    vertical-align: top;
    letter-spacing: -0.05em;
}
p {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 1em;
    color: ;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
#BLLogo {
    position: relative; 
    display: block;
    width: 250px;
    margin: 0 auto;
}
.navLogo {
    width: 50%;

}
.navdiv {
    width: 20%;
    margin: 0 1%;
    text-align: center;
    display: inline-block;
    font-size: 13pt;
}

@media (min-width: 768px) {
body {
    max-width: 1024px;
    margin: 0 auto;

}
nav {   
    position: relative;
    text-align: right;
    
}
.navlogo {
    max-width: 100px;
}
.navdiv {
    margin: 0 10px;
    max-width: 100px;
}
#BLLogo {
    position: absolute;
    left: 0;
    margin-left: 10px;
    margin-top: 10px;
}

}

@media (min-width: 960px) {

}
