
* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #74975c;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family:  sans-serif;
    font-weight: 200;
    font-size: 2em;
    text-align: left;
    text-shadow: 1px 1px 2px 5px black;
}
h2 {
    font-size: 4.5em;
    font-family:'Reenie Beanie', 'Arial', 'Sans-Serif';
    letter-spacing: -0.12em;
}
h3 {
    color: black;
    text-align: center;
    font-family: "Reenie Beanie", sans-serif;
    font-weight: 400;
    font-size: 2em;
    display: block;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    position: relative;
    vertical-align: top;
    letter-spacing: -0.05em;
}
p {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 1em;
    color: ;
}
#nav {   
    background-color: rgba(240,240,240,1);
    border-bottom: 1px solid rgba(0,90,0, 0.5);
    border-top: 1px solid rgba(0,90,0, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 199;
}
#footer {
    border-top: 1px solid #74975c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
#footer div {
    max-width: 33%;
}
.AffLogo {
    max-width: 100%;
}
#logodiv {
    width:100%;
    height: 80px;
    background-color: rgb(116,151,92,0.1);
    border-bottom: 1px solid #d5d5d5;
}
#BLLogo {
    position: relative; 
    display: block;
    max-width: 280px;
    margin: 0 auto;
    z-index: 200;
}
.navLogo {
    width: 50%;

}
.navdiv {
    width: 23%;
    margin: 0 1%;
    text-align: center;
    display: inline-block;
    overflow:visible;
}
.navtext {
    font-size: 12pt;
    font-weight: bold;
}
.bs{
    height: 100px;
}
#chrbio {
    height: 100%;
    background: ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top; 
    margin: 0;
    text-align: center;
} 
#chrbioH {
    color: rgba(100,100,100);
    padding: 7% 0 0 0;
}
.button {
    background-color: rgba(116,151,92,0.9);
    margin: 10% auto;
    text-align: center;
    padding: 10px 10px;
    width: 120px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
}
.button:hover {
    background-color: rgba(116,151,92,0.9);
    text-decoration: none;
}
#chrbio p{
    color: ;
    text-align: justify;
    margin: 0 10% 0 5%;
    text-align-last: center;
}
.LI {
    border-radius: 50%;
    border: 1px solid rgba(116,151,92);
    padding: 1%;
    margin: 1%
}
#LI 1 {
    
}
@media (min-width: 768px) {
body {
    max-width: 1024px;
    margin: 0 auto;
}
nav {   
    position: relative;
    text-align: right;
    
}
.navlogo {
    max-width: 100px;
}
.navdiv {
    margin: 0 10px;
    max-width: 100px;
}
#BLLogo {
    position: absolute;
    left: 0;
    margin-left: 10px;
    margin-top: 10px;
}

}

@media (min-width: 960px) {

}
