<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div id="logodiv">
			<img id="BLLogo" src="/images/BLLogoSm2.png">
		</div>
		<div id="nav">
			<div class="navdiv">
				<a href="/">
					<img class="navLogo" src="/images/nav_logo-04.png">
					<p class="navtext">Home</p>
				</a>
			</div>
			<div class="navdiv">
				<a href="/science">
					<img class="navLogo" src="/images/nav_logo-02.png" >
					<p class="navtext">Science</p>
				</a>
			</div>
			<div class="navdiv" >
				<a href="/people">
					<img class="navLogo" src="/images/nav_logo-01.png" >
					<p class="navtext">People</p>
				</a>
			</div>
			<div class="navdiv">
				<a href="/join">
					<img class="navLogo" src="/images/nav_logo-05.png" >
					<p class="navtext">Join Us</p>
				</a>
			</div>
			<div class="navdiv">
				<a href="/contact">
					<img class="navLogo" src="/images/nav_logo-03.png" >
					<p class="navtext">Contact Us</p>
				</a>
			</div>
		</div>
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<div id="footer">
			<div>
				<a class="logo right" href="https://www.imb.de/" target="_blank">
					<img class="AffLogo" src="/images/IMBS.png" />
				</a>
			</div>
			<div>
				<a class="logo left" href="https://www.humboldt-foundation.de/web/home.html" target="_blank">
					<img class="AffLogo"  src="/images/AvH_LogoS.png" />
				</a>
			</div>
			<div>
				<a class="logo left" href="http://www.uni-mainz.de/" target="_blank">
					<img class="AffLogo"  src="/images/JGUS.png" />
				</a>
			</div>
		</div>
		<div class="bs">
		</div>
	</body>
<div>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
 WebFont.load({
    google: {
      families: ['Raleway:200', 'Raleway: 200i', 'Reenie Beanie', 'Fredericka the Great']
    }
  });
</script> 
</div> 
</html>
