<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav id="mainNav">
    		<div style="width: auto; display: inline-block; text-align: left;">
    			<h1>Baumann Lab</h1>
    		</div>
    		<div style="width: auto; display: inline-block; text-align: right;">
    			<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research</a></li>
	        		<li><a href="/people">People</a></li>
	        		<li><a href="/publications">Publications</a></li>
					<li><a href="/pictures">Pictures</a></li>
					<li><a href="/links">Links</a></li>
					<li><a href="/positions">Positions</a></li>
					<li><a href="/contacts">Contact Us</a></li>
    			</ul>
    		</div>
		</nav>
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:kristi@baumannlab.org">email</a></li>
        		<li><a href="https://github.com/kristi-jensen">github.com/kristi-jensen</a></li>
			</ul>
		</footer>

	</body>
<div>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
 WebFont.load({
    google: {
      families: ['Raleway:200', 'Raleway: 200i', 'Reenie Beanie', 'Fredericka the Great']
    }
  });
</script> 
</div> 
</html>
